.form-wapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 64px;
  .form {
    width: 100%;
    margin-top: 8px;
    text-align: center;
  }
  .submit {
    margin: 24px 0px 16px;
  }
  .avatar {
    margin: 8px;
  }
  .MuiOutlinedInput-input {
    padding: 14px;
  }
}

.form-register {
  margin: 0 !important;
}
