.img-wapper {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  .logo {
    width: 120px;
  }
}

.img-product {
  height: 10%;
}

.add {
  cursor: pointer;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
}
