.img-wapper {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  .logo {
    width: 120px;
  }
}

.img-product {
  height: 10%;
}

.add {
  cursor: pointer;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
}

.siderbar {
  a {
    list-style: none;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87);
  }
  .active {
    .MuiButtonBase-root {
      background: #d6d6c2;
    }
  }
}
