.form-setting {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
  form {
    display: flex;
    flex-direction: column;
    background: #ffffff;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
    padding: 20px 45px;
    .tab {
      display: flex;
      flex-direction: row;
      .active {
        border-bottom: 1px solid;
      }
    }
    div {
      display: flex;
      flex-direction: column;
    }
    span {
      font-size: 12px;
      font-style: italic;
      color: red;
    }
    input {
      border: 0;
      border-bottom: 1px solid;
      margin-bottom: 10px;
      width: 100%;
      min-width: 300px;
      height: 35px;
      outline: none;
    }
    input[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
    a {
      text-align: center;
      font-size: 13px;
      cursor: pointer;
      text-decoration: underline;
    }
    button {
      height: 35px;
      width: 100%;
      margin: 10px 0;
      background: #ffffff;
      font-size: 12px;
      line-height: 35px;
      cursor: pointer;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: #263238;
      border: 1px solid #263238;
      background: transparent;
      -moz-border-radius: 2px;
      -webkit-border-radius: 2px;
      border-radius: 2px;
      outline: none;
    }
  }
}

.modal {
  padding: 16px 32px 24px;
  position: absolute;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
  background-color: #fff;
  top: 52%;
  left: 54%;
  transform: translate(-52%, -54%);
  input {
    border: 0;
    border-bottom: 1px solid;
    margin-bottom: 10px;
    width: 100%;
    min-width: 300px;
    height: 35px;
    outline: none;
  }
  button {
    height: 35px;
    width: 100%;
    margin: 10px 0;
    background: #ffffff;
    font-size: 12px;
    line-height: 35px;
    cursor: pointer;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #263238;
    border: 1px solid #263238;
    background: transparent;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    outline: none;
  }
}
